#body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

.texth1 {
    font-size: 50px;
    color:white;
    text-align: center;
}

.text {
    color: white; 
    font-size: 20px;
}

.img {
    height: auto;
    width: 300px
}